<main class="sight-reading">
  <section class="scores-container">
    <div class="star-score" id="pitch-score">
      Pitches
      <%= image_tag 'outline-star-icon.svg', id: 'pitch-star-1' %>
      <%= image_tag 'outline-star-icon.svg', id: 'pitch-star-2' %>
      <%= image_tag 'outline-star-icon.svg', id: 'pitch-star-3' %>
      <%= image_tag 'outline-star-icon.svg', id: 'pitch-star-4'  %>
      <%= image_tag 'outline-star-icon.svg', id: 'pitch-star-5'  %>
    </div>
    <div class="star-score" id="rhythm-score">
      Rhythm
      <%= image_tag 'outline-star-icon.svg', id: 'rhythm-star-1' %>
      <%= image_tag 'outline-star-icon.svg', id: 'rhythm-star-2' %>
      <%= image_tag 'outline-star-icon.svg', id: 'rhythm-star-3' %>
      <%= image_tag 'outline-star-icon.svg', id: 'rhythm-star-4'  %>
      <%= image_tag 'outline-star-icon.svg', id: 'rhythm-star-5'  %>
    </div>
  </section>

  <section class="exercise">
    <div class="sheet-music" id=<%= @exercise.id %>>
      M: <%= @exercise.tse %>
      L: <%= @exercise.single_beat %>
      K: <%= @exercise.key %>
      <%= @exercise.notes %>
    </div>

    <div class="controls">
      <div class="control-item">

      </div>

      <div id="record-border" class="control-item">
        <button class="stop"></button>
        <button class="start"></button>
      </div>

      <div class="control-item">
        <input type="file" accept="audio/*" capture id="upload" class="control-item">
        <label for="upload" class="upload"><%= image_tag 'upload.svg', class: 'upload-icon' %></label>
      </div>
    </div>

    <%= image_tag 'ajax-loader.gif', id: 'loader-gif' %>
  </section>

  <section class="attempt">
    <div class="sheet-music" id="attempt-song">
      M: <%= @exercise.tse %>
      L: <%= @exercise.single_beat %>
      K: <%= @exercise.key %>
    </div>
    <div class="controls">
      <audio id="player" class="control-item" controls>
        <source id="mp3_src" type="audio/mp3" />
      </audio>
    </div>
  </section>

  <section class="next-page">
    <%= link_to '', sight_read_path, id: 'next-page' %>
  </section>
</main>
