<nav class="navbar" id=<%= current_user.email %>>
  <div class="nav-left">
    <%= image_tag 'treble-clef.svg', class: 'brand-img' %>
    Sight Music Lab
  </div>
  <div class="nav-center">
    <%= link_to 'Sight Read', sight_read_path, class: 'nav-item' %>
  </div>
  <div class="nav-right">
    <p class="nav-item">Welcome, <%= current_user.first_name %></p>
    <%= button_to 'Log Out', logout_path, method: :get, class: 'fancy-button nav-item' %>
    <label for="menu-dropdown" class="dropdown">
      <img src="https://png.icons8.com/metro/1600/menu.png" />
    </label>
    <input type="checkbox" id="menu-dropdown" />
    <ul id="menu">
      <li><%= link_to 'Sight Read', sight_read_path %></li>
      <li><%= button_to 'Log Out', logout_path, method: :get, class: 'fancy-button'%></li>
    </ul>
  </div>
</nav>
