<!DOCTYPE html>
<html>
  <head>
    <title>PersonalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="home-body">
    <%= render partial: "layouts/#{current_user.role}_navbar" %>
    <%= yield %>
  </body>
</html>
